@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;
}



/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #333;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header.sticky .nav li a {
    color: #fff;
}

header #logo {
    color: #f05123;
    font-size: 20px;
    font-weight: 800;
}

header .nav {
    position: relative;
    display: flex;
}

header .nav li {
    list-style: none;
    margin-left: 30px;
}

header .nav li a {
    text-decoration: none;
    color: #fff;
}

header .nav li.active {
    background-color: #f05123;
    transition: 0.2s ease;
    padding: 3px 12px;
    border-radius: 2px;
}

header .nav li.active:hover {
    background-color: #c52b00;
}





/* HOME PAGE */
.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('Images/home-page-background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .content {
    max-width: 900px;
    text-align: center;
}

.home .content h2 {
    font-size: 60px;
    color: #f05123
}

.home .content p {
    font-size: 16px;
    color: #fff;
}


/* Text Animation */
.home .content span {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(-50px);
}

.home .content span.fade {
    opacity: 1;
    color: #fff;
    transform: translateY(0px);
}




/* ABOUT PAGE */
section {
    padding: 100px;
}

.about {
    transition: background 0.2s linear;
}

.dark {
    background-color: #333;
}

.dark .titleText {
    color: #fff;
}

.dark .text {
    color: #fff;
}

.about .checkbox {
    opacity: 0;
    position: absolute;
}

.about .label {
    background-color: #f05123;
    border-radius: 50px;
    height: 26px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.about .fa-moon {
    color: #fff;
}

.about .fa-sun {
    color: #fff;
}

.about .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.about .checkbox:checked + .label .ball {
    transform: translateX(24px);
}

article {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

article .text-container {
    width: 48%;
}

.titleText {
    color: #111;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 5px;
}

article .image-container {
    width: 48%;
}

article .image-container .image-about-us {
    position: relative;
    width: 100%;
    height: 100%;
}

article .image-container .image-about-us img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moreText {
    display: none;
}

.readMoreBtn {
    padding: 10px 34px;
    background-color: #f05123;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
    border-radius: 5px;
}

.readMoreBtn:hover {
    background-color: #c52b00;
}

.text.show-more .moreText {
    display: inline;
}

.text.show-more .dots {
    display: none;
}




/* ACADEMICS PAGE */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title p {
    text-align: center;
}

.content-academics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 700px;
}   

.academics-container {
    width: 340px;
    margin: 10px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
    transform-style: preserve-3d;
    transition: all 0.5s;
    cursor: pointer;
}

.academics-container .image,
.academics-container .text {
    backface-visibility: hidden;
}

.academics-container .text {
    transform: rotateY(180deg);
}

.advertising,
.entertainment-design,
.environmental-design,
.film,
.fine-art,
.graphic-design,
.illustration,
.interaction-design,
.photography,
.product-design,
.transportation-design {
    text-align: center;
    padding-top: 10px;
}

#advertising.flipping,
#entertainment-design.flipping,
#environmental-design.flipping,
#film.flipping,
#fine-art.flipping,
#graphic-design.flipping,
#illustration.flipping,
#interaction-design.flipping,
#photography.flipping,
#product-design.flipping,
#transportation-design.flipping {
    transform: rotateY(180deg);
}

.academics-container.flipping .advertising,
.academics-container.flipping .entertainment-design,
.academics-container.flipping .environmental-design,
.academics-container.flipping .film,
.academics-container.flipping .fine-art,
.academics-container.flipping .graphic-design,
.academics-container.flipping .illustration,
.academics-container.flipping .interaction-design,
.academics-container.flipping .photography,
.academics-container.flipping .product-design,
.academics-container.flipping .transportation-design,
.academics-container.flipping .image {
    display: none;
}

.academics .content-academics .academics-container .image {
    position: relative;
    width: 100%;
    height: 300px;
}

.academics .content-academics .academics-container .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.academics .content-academics .academics-container .text {
    text-align: center;
    position: absolute;
    top: 0;
}

.academics .content-academics .academics-container .text h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.academics .content-academics .academics-container .text p {
    font-weight: bold;
    margin-bottom: 10px;
}


/* GALLERY SLIDER PAGE  */
#slider,
.gallerySlider,
.slide-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.title .titleText {
    margin-bottom: 20px;
}

.gallerySlider {
    position: relative;
}

.slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url('Images/slide1.jpg');
}

.slide2 {
    background-image: url('Images/slide2.jpg')
}

.slide3 {
    background-image: url('Images/slide3.jpg')
}

.slide4 {
    background-image: url('Images/slide4.jpeg')
}

.slide5 {
    background-image: url('Images/slide5.jpg')
}

.slide6 {
    background-image: url('Images/slide6.jpg')
}

.slide7 {
    background-image: url('Images/slide7.jpeg')
}

.slide8 {
    background-image: url('Images/slide8.jpg')
}

.slide9 {
    background-image: url('Images/slide9.jpg')
}

.slide10 {
    background-image: url('Images/slide10.png')
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content p {
    font-size: 50px;
    color: #fff
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    left: 0;
    margin-left: 30px;
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    transition: 0.4s;
}

#arrow-left:hover {
    border-color: transparent #f05123 transparent transparent;
}

#arrow-right {
    right: 0;
    margin-right: 30px;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    transition: 0.4s;
}

#arrow-right:hover {
    border-color: transparent transparent transparent #f05123;
}




/* CONTACT US PAGE */
.contact {
    display: grid;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.contact-body {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
}

.contact-in {
    padding: 40px 30px;
    height: 80vh;
}

.contact-in:nth-child(1) {
    flex: 30%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('Images/contact-info-background.jpg');
    background-size: cover;
    color: #fff;
}

.contact-in:nth-child(2) {
    flex: 40%;
    background: #f05123;
}

.contact-in:nth-child(3) {
    flex: 30%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background:#fff;
    color: #f05123;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-in ul {
    padding: 0;
    margin-top: 50px;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.contact-in ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    color: #f05123;
    border-radius: 50px; 
}

.contact-in ul li a i {
    font-size: 14px;
    line-height: 30px;
}

.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.contact-in-input::placeholder {
    color: #fff;
}

.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.contact-in-textarea::placeholder {
    color: #fff;
}

#count-remaining-characters {
    color: #fff;
    text-align: right;
    margin-top: -20px;
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: .8px;
}

.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: .5px;
}

.contact-in-btn:hover {
    background-color: #c52b00;
}

.contact-in iframe {
    width: 100%;
    height: 100%;
}

#contactTitleText {
    margin-top: 50px;
}



/* FOOTER */
.footer-container {
    padding: 64px 0px 64px 0px;
    background-color: #333;
}

.footer {
    width: 80%;
    height: 40vh;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.footer-heading h2 {
    margin-bottom: 32px;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-heading a:hover {
    color: #f05123;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 32px;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 8px;
    font-size: 14px;
    margin-bottom: 16px;
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background: #f05123;
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    transition: 0.5s;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #c52b00;
}



/* COPYRIGHT TEXT */
#copyrightText {
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    background-color: #222;
    color: #fff;
}

#copyrightText p {
    font-size: 14px;
}




/* SCROLL TO TOP ARROW */
#btnScrollToTop {
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f05123;
    color: #fff;
    box-shadow:rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

#btnScrollToTop:hover {
    background: #c52b00;
}